##
# Free Touch Pricker
# @author Leigh Simpson <code@simpleigh.com>
# @license GPL-3.0
# @copyright Copyright 2015-23 Leigh Simpson. All rights reserved.
##

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Dotfiles use tabs as these will be removed during compilation
[*.dot]
indent_style = tab

[*.{html,md,yml}]
indent_size = 2

# These dotfiles are really CSS and HTML respectively
[css.dot]
indent_style = space

[html.dot]
indent_size = 2
indent_style = space

[package.json]
indent_size = 2
